* {
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    background-color: var(--clrPrimary1);
    color: var(--clrPrimary-2);
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
}

img {
    width: 100%;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

/* buttons */

button {
    letter-spacing: 0.03em;
    padding: 0.5em 1.25em;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    border: none;

    transition:
        color 0.3s,
        border-color 0.3s,
        padding 0.6s;
}

.load-font {
    color: var(--clrPrimary1)
}