.gallery-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    gap: 20px;
}

.meme-editor-layout {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 10px;
}