:root {
    /* PALLETE */
    --clrPrimary1: #23252e;
    --clrPrimary: #393b44;
    --clrPrimary-1: #88898b;
    --clrPrimary-2: #ffffff;


    --clrSecondary1: #119bb4;
    --clrSecondary: linear-gradient(to right, #119bb4 0%, #30bb74 100%);
    --clrSecondary-1: #30bb74;
}

