.btn-container.line-edit {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-container.line-edit button {
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
    font-size: 1.2em;
    gap: 10px;
    transition: 0.5s;
}

.btn-container.line-edit button:hover {
    opacity: 0.7;
}

.fa.up-down {
    background-color: #3cb0cd;
    text-shadow: 0 3px #267488;
    box-shadow: 0 3px inset #47bbd4, 0 4px #267488;
}

.fa.plus {
    background-color: #3bc14f;
    text-shadow: 0 3px #015c33;
    box-shadow: 0 3px inset #61da77, 0 4px #015c33;
}

.fa.trash {
    background-color: #da2e36;
    text-shadow: 0 3px #a21016;
    box-shadow: 0 3px inset #f06b5a, 0 4px #a21016;
}

.btn-container.text-edit button {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
    background-color: white;
}

.btn-container.text-edit > * {
    border-bottom: 4px solid #3e7d79;
    transition: 0.5s;
    cursor: pointer;
}

.btn-container.text-edit >*:hover {
    opacity: 0.7;
}

.font-family {
    grid-column: span 3;
    border-radius: 10px;
    font-size: 1.3em;
    border: none;
}

.fa.palette {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    font-size: 1.2em;
}

.txt-color-input {
    position: absolute;
    translate: 190px 60px;
    z-index: -1;
}


.emoji-container button {
	background: transparent;
	font-size: 2rem;
	padding: 0 0.26em;
    transition: 0.5s;
}

.emoji-container button:hover {
    opacity: 0.8;
}

.actions > * {
    padding: 0.4em 1.25em;
	border-radius: 10px;
    padding-top: 0.6em;
    transition: 0.5s;
}

.actions > *:hover {
    opacity: 0.7;
}

.actions .facebook {
    color: white;
    background-color: #1f7cd3;
    box-shadow: 0 3px inset #54b2e8, 0 4px #155c9c;
}

.actions .share-nodes {
    color: white;
    background-color: #00bc8c;
    box-shadow: 0 3px inset #60d1ae, 0 4px #008362;
}

.actions .download {
    color: white;
    background-color: #8f44bb;
    box-shadow: 0 3px inset #bf83da, 0 4px #632687;
}