.filter {
    grid-template-columns: 1fr auto;
    gap: 10px;
    padding-bottom: 20px;
}

.filter>* {
    align-items: center;
    border: none;
    border-radius: 20px;
    padding-inline: 20px;
}

.filter .search-img {
    display: flex;
    background-color: var(--clrPrimary);
    font-size: 1rem;
}

.filter .search-by-keywords {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--clrPrimary-1);
}

.filter .clear-btn,
.filter .more-btn {
    display: flex;
    background: var(--clrSecondary);
    color: inherit;
}

.filter .search-by-keywords div:first-child {
    order: 3
}

.filter .search-by-keywords div:nth-child(2) {
    order: 0
}

.filter .search-by-keywords div:nth-child(3) {
    order: 2
}

.filter .search-by-keywords div:nth-child(4) {
    order: 1
}

.filter .search-by-keywords div:last-child {
    order: 4
}