.filter {
    grid-template-columns: 1fr auto;
    gap: 10px;
    padding-bottom: 20px;
}

.filter>* {
    align-items: center;
    border: none;
    border-radius: 20px;
    padding-inline: 20px;
}

.filter .search-img {
    display: flex;
    background-color: var(--clrPrimary1);
    font-size: 1rem;
}

.filter .search-by-keywords {
    display:flex;
    background-color: var(--clrPrimary-1);
}

.filter .clear-btn,
.filter .more-btn {
    display: flex;
    background: var(--clrSecondary);
    color: inherit;
} 