.main-header {
    top: 0;
    z-index: 1;
    background: var(--clrSecondary);
    margin-bottom: 10px;
    padding: 1em 1em;
}

.main-header .logo {
    font-size: 1.5rem;
}

.main-header nav ul {
    display: flex;
    gap: 20px;
}

.main-header button {
    border-radius: 40px;
    background-color: transparent;
    border: none;
    color: inherit;
}

.main-header button:hover {
    background-color: white;
    color: var(--clrSecondary1)
}