.canvas-container {
	width: 350px;
	height: 350px;
	border-radius: 25px;
}

canvas {
	display: block;
	width: 350px;
	height: 350px;
	background-color: var(--clrPrimary);
	border-radius: 25px;
	border: 8px solid var(--clrPrimary);
}

.edit-options {
	display: grid;
	grid-template-rows: repeat(5, auto);
	gap: 10px;
	padding: 0.7em 1em;
	justify-items: center;
	background-color: var(--clrPrimary);
	width: 360px;
	border-radius: 25px;
}

.edit-options button {
	border-radius: 10px;
}

.line-enter {
	justify-self: stretch;
	border-radius: 20px;
	text-align: center;
	font-size: 1.2rem;
	padding: 0.3em;
	border: none;
	background-color: #eceef2;
	box-shadow: 0 3px inset white, 0 4px #bbc4d1;
}

.btn-container.text-edit {
	display: grid;
	grid-template-columns: repeat(5, 40px);
	column-gap: 25px;
	row-gap: 10px;
	width: 100%;
	background-color: #17a59f;
	padding: 0.6em 0.8em;
	border-radius: 10px;
}

.emoji-container {
	display: flex;
	justify-content: flex-start;
	background-color: white;
	width: 100%;
	border-radius: 30px;
	padding: 0.5em 1em;
	overflow-x: scroll;
}

.actions {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.saved-msg {
    position: fixed;
    top: 315px;
    right: 20px;
    background-color: rgb(15 14 14 / 90%);
    padding: 10px;
    border-radius: 15px;
}