.canvas-container {
    width: 350px;
    height: 350px;
    border: 1px solid lightgray;
}

canvas {
	display: block;
	background-color: var( --clrPrimary);
	margin:auto;
}

.edit-options {
	gap: 50px;
	padding: 1em;
}

.edit-options button {
	border-radius: 20px;
}

